
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/_LayoutMain.cshtml";
}

    <div class="row text-center">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="" class="login-form" method="post">
                        <h4 style="padding-top:5px; padding-bottom:10px; padding-top:10px;">Sıfırlama Bildirimi Gönder</h4>

                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="E Mail" required="required" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <a href="/Login/ResetPassword" class="btn btn-success btn-block signup-btn">Gönder</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

