@{
                ViewBag.Title = "Parolamı unuttum";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Lütfen e-mail adresinizi kontrol ediniz.
    </p>
</div>

