
@{
    ViewBag.Title = "SoruDetay";
    Layout = "~/Views/_LayoutMain.cshtml";
    @model TestTheme.Models.Sorular
}
<div class="row">
    <div class="col-lg-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <div class="col-lg-3 col-xs-3">
                            <img src="https://www.w3schools.com/bootstrap/img_avatar3.png" class="img-circle" height="65" width="65" alt="Avatar">
                        </div>
                        <div class="col-lg-9 col-xs-9">
                            <p><b>AD SOYAD</b></p>
                            <p><a href="/Profil/Index">kullaniciadi</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <p>
                            <span class="label label-default">csharp</span>
                            <span class="label label-primary">java</span>
                            <span class="label label-success">aspnet</span>
                            <span class="label label-info">c</span>
                            <span class="label label-warning">javascript</span>
                            <span class="label label-danger">html</span>
                            <span class="label label-default">csharp</span>
                            <span class="label label-primary">java</span>
                            <span class="label label-success">aspnet</span>
                            <span class="label label-info">c</span>
                            <span class="label label-warning">javascript</span>
                            <span class="label label-danger">html</span>
                            <span class="label label-default">csharp</span>
                            <span class="label label-primary">java</span>
                            <span class="label label-success">aspnet</span>
                            <span class="label label-info">c</span>
                            <span class="label label-warning">javascript</span>
                            <span class="label label-danger">html</span>
                            <span class="label label-default">csharp</span>
                            <span class="label label-primary">java</span>
                            <span class="label label-success">aspnet</span>
                            <span class="label label-info">c</span>
                            <span class="label label-warning">javascript</span>
                            <span class="label label-danger">html</span>
                            <span class="label label-default">csharp</span>
                            <span class="label label-primary">java</span>
                            <span class="label label-success">aspnet</span>
                            <span class="label label-info">c</span>
                            <span class="label label-warning">javascript</span>
                            <span class="label label-danger">html</span>
                            <span class="label label-default">csharp</span>
                            <span class="label label-primary">java</span>
                            <span class="label label-success">aspnet</span>
                            <span class="label label-info">c</span>
                            <span class="label label-warning">javascript</span>
                            <span class="label label-danger">html</span>
                            <span class="label label-default">csharp</span>
                            <span class="label label-primary">java</span>
                            <span class="label label-success">aspnet</span>
                            <span class="label label-info">c</span>
                            <span class="label label-warning">javascript</span>
                            <span class="label label-danger">html</span>
                            <span class="label label-default">csharp</span>
                            <span class="label label-primary">java</span>
                            <span class="label label-success">aspnet</span>
                            <span class="label label-info">c</span>
                            <span class="label label-warning">javascript</span>
                            <span class="label label-danger">html</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 hidden-xs">
                <div class="panel panel-default">
                    <div class="panel-body text-left">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">SSS</a></li>
                            <li><a href="#">İletişim</a></li>
                        </ul>
                        <br />
                        <div class="text-center">
                            <a class="btn btn-social-icon btn-facebook"><span class="fa fa-twitter"></span></a>
                            <a class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></a>
                            <a class="btn btn-social-icon btn-github"><span class="fa fa-github"></span></a>
                            <a class="btn btn-social-icon btn-bitbucket"><span class="fa fa-bitbucket"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <div class="col-md-2 col-sm-3 col-xs-3">
                            <div id="upvoted-and-starred" class="upvotejs">
                                <a class="upvote upvote-on"></a>
                                <span class="count">6</span>
                                <a class="downvote"></a>
                                <a class="star star-on"></a>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9 col-xs-9 text-left">
                            <h4>14 Useful Sites for Designers</h4>
                            <p class="text-justify">Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it.</p>

                            <img class="img-responsive" src="~/img/q1.png" />
                            <br /><br />
                            <p class="text-justify">Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it.</p>
                            <h5><span class="label label-primary">python</span></h5>
                            <div class="pull-right">
                                <a href="#"><img src="https://www.w3schools.com/bootstrap/img_avatar3.png" class="img-circle pull-right" height="35" width="35" alt="Avatar"></a>
                                <p><a href="/Profil/Index">kullaniciadi</a></p>
                            </div>
                            <div class="pull-left">
                                <small class="text-muted"> 20.11.2019 13:46</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="style1" />
        <div class="row">
            <div class="panel-body">
                <div class="col-sm-3 text-left">
                    <p><b>2 Cevap</b></p>
                </div>
                <div class="col-sm-9">
                    <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-default" style="font-size:10px;">Yeniler</a>
                        <a href="#" class="btn btn-default" style="font-size:10px;">Aktif</a>
                        <a href="#" class="btn btn-default" style="font-size:10px;">Onaylı</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <div class="col-md-2 col-sm-3 col-xs-3">
                            <div id="upvoted-and-starred" class="upvotejs">
                                <a class="upvote upvote-on"></a>
                                <span class="count">1</span>
                                <a class="downvote"></a>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9 col-xs-9 text-left">
                            <p class="text-justify">I forgot something, but now I forgot it but now I forgot it. Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it.</p>

                            <img class="img-responsive" src="~/img/a1.png" />
                            <br /><br />
                            <div class="pull-right">
                                <a href="#"><img src="https://www.w3schools.com/bootstrap/img_avatar3.png" class="img-circle pull-right" height="35" width="35" alt="Avatar"></a>
                                <p><a href="/Profil/Index">kullaniciadi</a></p>
                            </div>
                            <div class="pull-left">
                                <small class="text-muted"> 20.11.2019 13:46</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <div class="col-md-2 col-sm-3 col-xs-3">
                            <div id="upvoted-and-starred" class="upvotejs">
                                <a class="upvote"></a>
                                <span class="count">0</span>
                                <a class="downvote"></a>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9 col-xs-9 text-left">
                            <p class="text-justify">I forgot something, but now I forgot it but now I forgot it. Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it.</p>
                            <img class="img-responsive" src="~/img/a1.png" />
                            <br /><br />
                            <div class="pull-right">
                                <a href="#"><img src="https://www.w3schools.com/bootstrap/img_avatar3.png" class="img-circle pull-right" height="35" width="35" alt="Avatar"></a>
                                <p><a href="/Profil/Index">kullaniciadi</a></p>
                            </div>
                            <div class="pull-left">
                                <small class="text-muted"> 19.11.2019 13:46</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="style1" />
        <div class="form-group text-left">
            <div class="col-md-12">
                <p><b>Cevap Yaz</b></p>
                @Html.TextAreaFor(m => m.SoruIcerik, new { @id = "editor1" })
                <script type="text/javascript">
                    var editor = CKEDITOR.instances['editor1'];
                    if (editor) { editor.destroy(true); }
                    CKEDITOR.replace('editor1', {
                        enterMode: CKEDITOR.ENTER_BR,
                    });
                </script>
                <br />
            </div>
        </div>
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success"> Cevap Gönder</button>
            <button type="submit" class="btn btn-primary"> Misafir Cevap Gönder</button>
            <a href="/Default/Index" class="btn btn-danger"> Vazgeç</a>
            <br /><br /><br />
        </div>
    </div>

    <div class="col-lg-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center social-btn">
                            <a class="btn btn-block btn-social btn-google">
                                <span class="fa fa-google"></span> Google ile Giriş
                            </a>
                            <a class="btn btn-block btn-social btn-facebook">
                                <span class="fa fa-facebook"></span> Facebook ile Giriş
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-left" style="background-color:#202020; color:whitesmoke;">Blog</div>
                    <div class="panel-body text-left">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">First List Group Item Heading</h5>
                                <p class="list-group-item-text">List Group Item Text</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Second List Group Item Heading</h5>
                                <p class="list-group-item-text">List Group Item Text</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Third List Group Item Heading</h5>
                                <p class="list-group-item-text">List Group Item Text</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

